[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"
langchain = {extras = ["gemini"], version = "*"}
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.12"
